<li class="bookmarklet">
  <a href="<%= 'ontouchstart' in window ? window.location + '/////' + b.url : b.url %>">
    <span class="label-name"><%= b.network + ': ' %></span><%= b.label %>
  </a>
</li>