<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Sacha Schmid">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmarklets</title>
    <link rel="icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <header class="site-header">
      <div class="wrap">
        <h1 id="mainHeading" class="site-heading">Bookmarklets</h1>
        <p>This is a curated list of useful bookmarklets for all kinds of services. Find out how to install them <a href="https://support.mozilla.org/en-US/kb/bookmarklets-perform-common-web-page-tasks#w_how-do-i-install-a-bookmarklet">on desktop</a> or <a href="http://lifehacker.com/5969040/quickly-add-useful-bookmarklets-to-safari-for-ios-to-instantly-send-pages-evernote-pocket-and-more">on mobile</a>. Created and curated by <a href="http://sacha.me">Sacha Schmid</a>, this list is <a href="http://github.com/radlikewhoa/bookmarklets">available on GitHub</a> to edit and expand.</p>
      </div>
    </header>
    <section id="network-list">
      <input id="search" class="search" type="search" placeholder="Search by network name…">
      <ul class="networks list">
        {{#networks}}
          <li class="network" data-category="{{ category }}" style="background-color: {{ color }}">
            <h2 class="network__name"><a href="{{ url }}">{{ network }}</a></h2>
            <ul class="bookmarklets">
              {{#bookmarklets}}
                <li class="bookmarklet">
                  <a href="{{ code }}">{{ name }}</a>
                </li>
              {{/bookmarklets}}
            </ul>
          </li>
        {{/networks}}
      </ul>
    </section>
    <script src="assets/js/main.js"></script>
  </body>
</html>