@import "vars";

@import "media-queries";

%clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 0 3em;
  font: #{100%}/#{1.5} "Source Sans Pro", sans-serif;
  color: $dark-grey;
  background-color: $lightest-grey;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

a {
  padding-bottom: 1px;
  color: $highlight;
  border-bottom: 1px solid;
  text-decoration: none;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: lighten($highlight, 10%);
  }

  &:active {
    color: darken($highlight, 10%);
  }
}

.wrap {
  max-width: 50em;
  margin: 0 auto;
}

.site-header {
  padding: 3em 1.5em 1.5em;
  text-align: center;
}

.site-heading {
  margin: 0 0 1.5rem;
  font-size: 2.5em;
  background-color: hsl(34, 53%, 82%);
  background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
    hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
    hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
    hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
    hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
    hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
    ),
  repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
    hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
    hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
    hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
    hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
    hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  position: sticky;
  top: 0;
  display: block;
  width: 100%;
  padding: 0.75em;
  margin: 0 auto 3em;
  font: inherit;
  text-align: center;
  border: 1px solid rgba($grey, 0.6);
  border-radius: 0;
  -webkit-appearance: none;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out;
  outline: none;

  &:focus {
    border-color: #4ceb89;
  }
}

.site-nav {
  ul {
    @extend %clearfix;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
    width: 33.333%;

    &:first-child a {
      margin-left: 0;
    }

    &:last-child a {
      margin-right: 0;
    }
  }

  a {
    display: block;
    padding: 0.75em;
    margin: 0 0.5em;
    border-top: 5px solid $grey;
    border-bottom: 5px solid $grey;
  }
}

.networks {
  padding: 0 1.5em;
  margin: 0;
  list-style-type: none;
}

.network {
  max-width: 50em;
  padding: 3em;
  margin: 1.5em auto;
  background-image: radial-gradient(50% 50%, circle, rgba(#fff, 0.25), rgba(#fff, 0));
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(#222, 0.35);

  &:last-child {
    margin-bottom: 0;
  }
}

.network__name {
  margin-top: 0;
  margin-bottom: 0.75em;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba($darkest-grey, 0.25);
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bookmarklets {
  padding-left: 0;
  text-align: center;
  list-style-type: none;
}

.bookmarklet {
  margin: 1em 0;
  -webkit-transition: opacity 0.25s ease-in-out;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 37.5em) {
    max-width: 18em;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    position: relative;
    display: block;
    padding: 0.5em 1.5em;
    background-color: $light-grey;
    background-image: linear-gradient(top, rgba($lightest-grey, 0.5), rgba($grey, 0.5));
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba($darkest-grey, 0.25);
    cursor: grab;
    transition: background-color 0.25s ease-in-out;

    &:hover {
      background-color: $lightest-grey;
    }

    &:active {
      transition: none;
      background-color: $grey;
    }
  }
}